<div class="row">
  <div class="col-md-9 card bg-dark">
    <h5 class="text text-white">Try to Eat all the Cats and use arrow keys to move</h5>
  </div>

<div class="col-md-3"><button class="btn btn-danger p-1" (click)="reset()">Reset Game</button></div>
</div>
<canvas id="stage" width="800" height="800" ></canvas>
<canvas id="user" width="800" height="800" ></canvas>
<canvas id="enemy" width="800" height="800"s></canvas>
<img src="https://res.cloudinary.com/zoominfo-com/image/upload/w_70,h_70,c_fit/fatcatmarketing.org" hidden id="img" alt="">
<img src="https://res.cloudinary.com/zoominfo-com/image/upload/w_70,h_70,c_fit/happydogfood.com" hidden
  id="userimg"
 alt="">
 