<div class="row">
  <div class="col-md-3"></div>
<div class="col-md-3"><button class="btn btn-danger" (click)="reset()">Reset Game</button></div>
<div class="col-md-3"></div>
<div class="col-md-3"></div>
</div>
<canvas id="stage" width="560" height="560"  ></canvas>
<canvas id="user" width="560" height="560"  ></canvas>
<canvas id="enemy" width="560" height="560"  ></canvas>
<img src="https://res.cloudinary.com/zoominfo-com/image/upload/w_70,h_70,c_fit/fatcatmarketing.org" hidden id="img" alt="">
<img src="https://res.cloudinary.com/zoominfo-com/image/upload/w_70,h_70,c_fit/happydogfood.com" hidden
  id="userimg"
 alt="">
 